<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>employer</title>
  </head>
  <body>
    <h1>{Name} Profile</h1>
    <p><b>First Name:</b></p>
    <p><b>Last Name:</b></p>
    <p><b>Address:</b></p>
    <p><b>City:</b></p>
    <p><b>State:</b></p>
    <p><b>Zip:</b></p>
    <p><b>Phone:</b></p>
    <p><b>Email:</b></p>
    <p><b>Gender:</b></p>
    <p><b>Date of Birth:</b></p>
    <p><b>Qualification:</b></p>
    <p><b>Education:</b></p>

    <button id="Delete">Delete</button>



    <style>
      body{
        background-color: aquamarine;
      }
      h1{
        text-align: center;
      }
      #Delete{
        margin-left: 50%;
        width: 10%;
        height: 40px;
        font-size: medium;
        background-color: rgb(68, 88, 202);
        border-radius: 10px;
        color: white;
        
      }
    </style>
</html>
