<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>employee</title>
  </head>
  <body>
    <nav>
      <h1>💎 United Diamond Inc</h1>
      | <a href="/">Home</a> | <a href="#">About</a> | <a href="#">Contact</a> |
      <a href="#">Services</a>|
      <a href="/employee/form">Apply Now</a>
    </nav>
    <div class="content">
      <h1 class="logo">Welcome to the United Diamond!</h1>
      <img class="one" src="diamond7.jpeg" alt="diamond" />
      <img class="two" src="diamond1.webp" alt="Diamond" />
      <img class="three" src="diamond10.jpeg" alt="diamond" />
      <img class="four" src="diamond3.webp" alt="diamond" />
      <img class="five" src="diamond8.jpeg" alt="diamond" />
      <img class="six" src="diamond6.png" alt="diamond" />
      <img class="seven" src="diamond9.webp" alt="diamond" />
      <img class="eight" src="diamond5.webp" alt="diamond" />
    </div>
    <h2>Thank you for your visit!</h2>
    <footer>
      <p>
        Author: Urvil Patel<br />
        💎United Diamond Inc&copy; 2022
      </p>
    </footer>
  </body>
</html>
<style>
  body {
    background-image: url("diamond6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
    margin: -9px;
  }
  h2 {
    color: bisque;
    font-family: cursive;
  }
  img {
    width: 30%;
    border: 1px solid white;
    border-radius: 8px;
  }
  h1 {
    color: rgb(63, 13, 228);
    font-family: Arial, Helvetica, sans-serif;
  }
  .content {
    margin: 0 auto;
  }
  footer {
    text-align: center;
    padding: 2px;
    background-color: rgb(73, 8, 8);
    color: white;
    margin: -9px;
  }
  .logo {
    color: goldenrod;
    font-family: cursive;
  }
  .one {
    height: 225pxs;
  }
  .two {
    height: 226pxs;
  }
  .three {
    height: 303pxs;
  }
  .four {
    height: 303pxs;
  }
  .five {
    height: 276pxs;
  }
  .six {
    height: 276pxs;
  }
  .seven {
    height: 243pxs;
  }
  .eight {
    height: 303pxs;
  }
</style>
