<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>employer</title>
  </head>
  <body>
    <nav>
      <h1>💎United Diamond inc</h1>
      <h1>hello Employer!</h1>
    </nav>
    <div>
      <% for (let i = 0; i < applications.length; i++) { %>
      <div class="application-box">
        <h4>
          <%= applications[i].firstName %> <%= applications[i].lastName %>
        </h4>
        <a href="/employer/details/<%= applications[i]._id %>"
          ><button>View</button></a
        >
      </div>
      <% } %>
    </div>
  </body>
  <style>
    body {
      background-color: blanchedalmond;
      text-align: center;
    }
    .application-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 2px solid black;
      margin: 2%;
    }
    .application-box:hover {
      background-color: burlywood;
    }
  </style>
</html>
