<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application for job</title>
  </head>
  <body>
    <h1>Application for job</h1>
    <br />
    <br />
    <form action="">
      <input type="text" placeholder="first name" name="firstName" />
      <input type="text" placeholder="last name" name="lastName" /> <br /><br />
      <input type="text" placeholder="street" name=" street" /><br /><br />
      <input type="text" placeholder="city" name="city" />
      <input type="text" placeholder="state" name="state" />
      <input type="text" placeholder="Zip" name="zip" /><br /><br />
      <input type="text" placeholder="ph" name="phone" />
      <input type="text" placeholder="Email" name="email" /><br /><br />
      <input type="text" placeholder="Gender" name="gender" />
      <input type="text" placeholder="DoB" name="dob" /><br /><br />
      <input type="text" placeholder="qualification" name="qualification" />
      <input type="text" placeholder="Education" name="Education" /><br /><br />
      <input type="submit" />
    </form>
  </body>
</html>

<style>
  body {
    text-align: center;
  }

  h1 {
    color: white;
    background-color: greenyellow;
    margin: 0;
  }

  form {
    text-align: left;
    margin: 0 auto;
    width: 50%;
  }
</style>
