<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>💎 United Diamond Inc</h1>
    <p>
      Are you an <a href="/employee">employee</a> or an
      <a href="/employer">employer</a>?
    </p>
  </body>
</html>

<style>
  body {
    background-image: url("diamond6.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  p {
    font-size: 243%;
    text-align: center;
    margin-top: 30%;
  }
  h1 {
    background-color: bisque;
    margin: -8px;
    padding: 9px;
    color: blue;
  }
</style>
